<h2 align="center">Восстановление пароля</h2>
<br/>

<%= form_with url: '/users/restore_password', method: :post do |form| %>
	<p>
		<%= form.label 'Адрес эл. почты', class: 'form-label' %>
		<%= form.email_field :email, class: 'form-control' %>
	</p>
	<p>
		<%= form.label 'Новый пароль', class: 'form-label' %>
		<%= form.password_field :password, class: 'form-control' %>
	</p>
	<p>
		<%= form.label 'Подтверждение нового пароля', class: 'form-label' %>
		<%= form.password_field :password_confirmation, class: 'form-control' %>
	</p>
	<p>
		<%= form.label 'Секретное слово', class: 'form-label' %>
		<%= form.text_field :secret_word, class: 'form-control' %>
	</p>
	<p>
		<%= form.submit 'Обновить пароль', class: 'btn btn-outline-primary' %>
	</p>
<% end %>