<h1 align="center">Выставить аккаунт на продажу</h1>
<br/>

<%= form_with url: '/game_accounts/sell_publish', method: :post do |form| %>
	<p>
		<%= form.label 'Идентификатор Вашего аккаунта', class: 'form-label' %>
		<%= form.text_field :game_account_id, class: 'form-control' %>
	</p>
	<p>
		<%= form.label 'Цена', class: 'form-label' %>
		<%= form.number_field :price, class: 'form-control' %>
	</p>
	<p>
		<%= form.submit 'Выставить на продажу', class: 'btn btn-outline-primary' %>
	</p>
<% end %>